@page "/Donation_page"
@using BloodBank_Project.Data

<h3>Donation_Page</h3>

<div class="mb-3">
    <label class="form-label">Phone Number</label>
    <input type="text" class="form-control" @bind="donation.PhoneNumber" @onblur="FetchBloodGroup">
</div>
<div class="mb-3">
    <label class="form-label">Blood Group</label>
    <input type="text" class="form-control" @bind="donation.BloodGroup" readonly>
</div>

<div class="mb-3">
    <label class="form-label">Date Of Donation</label>
    <input type="date" class="form-control" @bind="donation.DateOfDonation">
</div>

<div class="mb-3">
    <label class="form-label">No of units Donated</label>
    <input type="number" class="form-control" @bind="donation.NoOfUnits">
</div>
<button type="button" class="btn btn-primary" @onclick="UploadDonation">Upload to database</button>

@code {
     Donate donation = new Donate();
    DbmaManager Dbma = new DbmaManager();
    private async Task FetchBloodGroup()
    {
        if (!string.IsNullOrEmpty(donation.PhoneNumber))
        {
            var donor = await Dbma.FetchDonorAsync(donation.PhoneNumber);
            if (donor != null)
            {
                donation.BloodGroup = donor.BloodGroup;
            }
           
        }
    }

    private async Task UploadDonation()
    {
        if (donation != null)
        {
            bool success = await Dbma.SaveDonationAsync(donation);
            if (success)
            {
                await Dbma.UpdateBloodUnitsForDonationAsync(donation.BloodGroup, donation.NoOfUnits);
                Console.WriteLine("Donation uploaded successfully");
            }
            else
            {
                // You can show an error message here
                Console.WriteLine("Failed to upload the donation");
            }
        }
    }
}
