@*27-04-2023
This project is created by Hartaj,Gurmaher,Paramveer,Abdullah. The Blood Bank desktop application is a .NET MAUI Blazor app 
that helps manage blood donation-related information.
The application allows the user to register donors, record donations made, and issue blood. The history page displays 
all the information saved in the database, giving the user a comprehensive overview of the blood bank's activities.
*@
@page "/"
@layout LoginLayout
@inject NavigationManager nav
@using BloodBank_Project.Data

<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-8 col-lg-6 col-xl-5">
				<div class="card text-white" style="border-radius: 1rem;">
					<div class="card-body p-5 text-center">

						<div class="mb-md-5 mt-md-4 pb-5">

							<h2 class="fw-bold mb-2 text-uppercase">Welcome</h2>
							<p class="text-white-50 mb-5">Please enter User Name and Password!</p>

							<div class="form-outline form-white mb-4">
								<label class="form-label" for="typeEmailX">User Name</label>
								<input type="email" id="typeEmailX" class="form-control form-control-lg" @oninput="username" />
							</div>

							<div class="form-outline form-white mb-4">
								<label class="form-label" for="typePasswordX">Password</label>
								<input type="password" id="typePasswordX" class="form-control form-control-lg" @oninput="password" />
							</div>

							<div class="form-outline form-white mt-5">
								<button class="btn btn-outline-light btn-lg px-5" type="submit" @onclick="Home">Login</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@code
{
	string user = "";
	string pass = "";
	// These are methods that are called when the username or password input is changed
	private void username(ChangeEventArgs e)
	{
		user = e.Value.ToString();
	}
	private void password(ChangeEventArgs e)
	{
		pass = e.Value.ToString();
	}
	// This is the method that is called when the login button is clicked
	async void Home()
	{
		try
		{
			// This checks if the username and password are correct and navigates to the home page 
			if (user == "Admin" && pass == "123456")
			{
				nav.NavigateTo("/index");
			}
			// This throws an exception if either the username or password is blank
			else if (user == "" || pass == "")
			{
				throw new InvalidLoginException("Complete All Fields.");
			}
			// This throws an exception if the username or password is incorrect
			else
			{
				throw new InvalidLoginException("Entered Username or Password is Incorrect.");
			}
		}
		// This catches the exceptions thrown above and displays an alert message with the exception message
		catch (InvalidLoginException ex)
		{
			await Application.Current.MainPage.DisplayAlert("Alert", ex.Message, "OK");
		}
	}
}