@inherits LayoutComponentBase
@inject NavigationManager nav
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color:#FFFFF9">
            <a @onclick="Logout" class="logout">Logout <span class="oi oi-account-login" aria-hidden="true"></span></a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void Logout()
    {
        nav.NavigateTo("/");
    }
}