<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blood Bank</a>
        <span class="oi oi-droplet" aria-hidden="true" style="color:white"></span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register">
                <span class="oi oi-person" aria-hidden="true"></span> Register
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Donation_page">
                <span class="oi oi-droplet" aria-hidden="true"></span> Donation
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="request">
                <span class="oi oi-plus" aria-hidden="true"></span> Issue Blood
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="History">
                <span class="oi oi-book" aria-hidden="true"></span> Histroy
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
